.profile__username {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 650px) {
  .profile__username {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}