.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 960px) {
  .header {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31.6px;
    padding-left: 0;
    padding-right: 0;
  }
}