.content {
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 960px) {
  .content {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 425px) {
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}