.profile__edit-button {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid #FFF;
  cursor: pointer;
  background-image: url('../../../images/Pensil_default.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 10px;
  outline: none;
}

/*при наведении на кнопку добавления фотографий изображение становится прозрачнее на 40%*/
.profile__edit-button:hover {
  opacity: .6;
  transition: 30ms;
}

@media screen and (max-width: 650px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
    z-index: -1;
  }
}