.footer {
  margin: 0 auto;
  padding: 67px 0 60px;
  max-width: 880px;
}

@media screen and (max-width: 960px) {
  .footer {
    padding-left: 3%;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding-top: 48px;
    padding-left: 5.9375%;
    padding-bottom: 36px;
  }
}