.profile__add-button {
  box-sizing: border-box;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #FFF;
  cursor: pointer;
  border-radius: 2px;
  background-image: url('../../../images/Add-button_default.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 22px;
  outline: none;
}

/*при наведении на кнопку редактирования профиля изображение становится прозрачнее на 40%*/
.profile__add-button:hover {
  opacity: .6;
  transition: 30ms;
}

@media screen and (max-width: 960px) {
  .profile__add-button {
    width: 282px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  .profile__add-button {
    margin-top: 0;
    background-size: 16px;
  }
}