.popup__item {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0  0 13px;
  margin-bottom: 48px;
}

.popup__item:first-of-type {
  margin: 54px 0 30px;
}

.popup__item:focus {
  outline-color: transparent;
}

.popup__item::placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #C4C4C4;
}

.popup__item::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #C4C4C4;
}

.popup__item::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #C4C4C4;
}

.popup__item::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #C4C4C4;
}

@media screen and (max-width: 660px) {
  .popup__item {
    margin-bottom: 45px;
  }
  
  .popup__item:first-of-type {
    margin-top: 75px;
  }
}