.popup__toggle {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

/*при наведении на кнопку закрыть изображение становится прозрачнее на 40%*/
.popup__toggle:hover {
  opacity: .6;
  transition: 30ms;
}

@media screen and (max-width: 660px) {
  .popup__toggle {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}